<template name="invoicesTemplate">
    <div class="container">
        <h1>Invoices</h1>
    </div>
    {{> filterButtons buttons=getFilterButtons eventName="clickFilterButton" curActive=getActiveFilter}}
    <button type="button" class="btn generate btn-info">GENERATE</button>
    <table class="table table-striped">
        <thead>
        <tr>
            <th class="sort" data-name="sortInvoiceNr">Invoice Nr.<span class="glyphicon glyphicon-chevron-{{direction queryParams.sortInvoiceNr}}"></span></th>
            <th class="sort" data-name="sortTotal">total<span class="glyphicon glyphicon-chevron-{{direction queryParams.sortTotal}}"></span></th>
            <th class="sort" data-name="sortCreatedAt">createdAt<span class="glyphicon glyphicon-chevron-{{direction queryParams.sortCreatedAt}}"></span></th>
        </tr>
        </thead>
        <tbody>
            {{#each invoiceData}}
                {{> invoiceTemplate}}
            {{/each}}
        </tbody>
    </table>
</template>